* { 
    margin: 0;
    padding: 0;
}

html, body {
    font-family: 'Lora', serif;
    height: 100%;
    background-color: black;
}

/* Único uso da Caveat*/
#displayOutcome {
    font-family: 'Caveat Brush', cursive;
    font-size: 1.7rem;
}

/* ALIGN */

.flexbox-center {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.center-margin-top {
    text-align: center;
    margin-top: 15px;
}

/* BUTTONS */

a.button-border {
    font-size: 1.25rem;
    letter-spacing: .1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
}

a:hover.button-border {
    font-size: 1.25rem;
    letter-spacing: .1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    background-color: white;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
}


/* START */

#start {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 70px auto;
    width: 600px;
}

#newspaper {
    background-image: url(./img/jornal_newspaper.png);
    margin: 20px 0;
    width: 600px;
    height: 292px;
}

#newspaper h2 {
    font-size: 3.2rem;
    font-weight: 600;
    letter-spacing: .04rem;
    border-top: 1.45px solid black;
    border-bottom: 1.45px solid black;
    padding: 0 0 8px;
    margin: 20px auto 7px;
    width: 545px;
}

.news {
    border-top: 5px solid black;
    padding-top: 8px;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    width: 545px;
    height: 170px;
}

.capitular::first-letter {
    font-size: 3.2rem;
    font-weight: 700;
    float: left;
    margin: 18px 7px 5px 0;
}

.indent {
   text-indent: 10px;
}

.col1 {
    font-size: .8rem;
    line-height: 1rem;
    text-align: left;
    width: 148px;
    margin: 5px 15px 0 1px;
}

.col2 {
    width: 210px;
    margin: 4px 20px 0 2px;
}

.col3 {
    font-size: .8rem;
    line-height: 1rem;
    text-align: left;
    width: 160px;
    margin: 5px 0;
}

#buttonsArea {
    display: flex;
    flex-flow: row nowrap;
    width: 545px;
    margin: 5px auto;
}

#buttonsArea p {
    font-size: 1.15rem;
    letter-spacing: .1rem;
    font-weight: 600;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}

#buttonsArea img {
    width: 170px;
    margin: 0 15px;
}

#buttonsArea a {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 25px;
    color: white;
    background-color: #777777;
    border-radius: 8px;
}

#buttonsArea a:hover {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 600;
    text-decoration: none;
    padding: 15px 25px;
    color: white;
    background-color: #383838;
    border-radius: 8px;
}


/* PLAYERS */

#players {
    display: flex;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    margin: 25px auto;
    width: 510px;
}

.instructions {
    font-size: .88rem;
    letter-spacing: .04rem;
    color: white;
    padding: 6px 0 16px;

}

#playGame {
    width: 500px;
    height: 255px;
    background-color: #777777;
    border-radius: 5px;
    border: 0;
}

form fieldset{
    border: 0;
    margin: 0 auto;
    padding: 0;
}

.inputArea{
    border: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 20px 20px 15px;
}

.offsetInfo {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .09rem;
    color: white;
    padding: 7px 0;
    border-top: 2px solid #383838;
    border-bottom: 2px solid #383838;
}

#playGame form input[type=number] {
    font-family: 'Lora', serif;
    width: 55px;
    height: 40px;
    font-size: 1.1rem;
    text-align: center;
    color: #777777;
    text-transform: uppercase;
    padding-left: 10px;
    border-radius: 5px;
    border: 0;
}

#playGame form textarea {
    font-family: 'Lora', serif;
    font-size: 1.02rem;
    letter-spacing: .01rem;
    line-height: 1.37rem;
    width: 430px;
    height: 80px;
    padding: 15px;
    color: #777777;
    border-radius: 5px;
    border: 0;
    margin: 0 20px;

}

:focus {
    outline: none;
}

::placeholder {
    color:#777777;
  }

.buttonsArea {
    border: 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

#buttonReset {
    font-family: 'Lora', serif;
    font-size: 1.02rem;
    letter-spacing: .05rem;
    font-weight: 500;
    padding: 10px 20px;
    color: white;
    background-color: #383838;
    border-radius: 5px;
    text-transform: uppercase;
    border: 0;
}

#buttonReset:hover {
    font-family: 'Lora', serif;
    font-size: 1.02rem;
    letter-spacing: .05rem;
    font-weight: 500;
    padding: 10px 20px;
    color: white;
    background-color: black;
    border-radius: 5px;
    text-transform: uppercase;
    border: 0;
}

#buttonCipher, #buttonDecipher {
    font-family: 'Lora', serif;
    font-size: 1.02rem;
    letter-spacing: .05rem;
    font-weight: 500;
    padding: 10px 30px;
    color: white;
    background-color: black;
    border-radius: 5px;
    text-transform: uppercase;
    border: 0;
}

#buttonCipher:hover, #buttonDecipher:hover {
    font-family: 'Lora', serif;
    font-size: 1.02rem;
    letter-spacing: .05rem;
    font-weight: 500;
    padding: 10px 30px;
    color: white;
    background-color: #383838;
    border-radius: 5px;
    text-transform: uppercase;
    border: 0;
}

.clue {
    background-image: url(./img/pista_clue.png);
    margin: 15px 0;
    width: 440px;
    height: 110px;
    padding: 20px 30px;
}
