* { 
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

/* Fontes */
html {
    font-family: 'Lora', serif;
}

/* Home */
#home {
    display: flex;
    align-items: center;
    justify-content: center;
}

main#home {
    width: 450px;
    height: 560px;
}

.buttonBorder, .buttonBorder:active  {
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    color: white;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
}

.buttonBorder:hover  {
    font-family: 'Lora', serif;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    font-weight: 500;
    text-decoration: none;
    padding: 10px 20px;
    color: black;
    background-color: white;
    border-color: white;
    border-style: solid;
    border-radius: 5px;
}

.buttonBorder a {
    text-align: center;
}

/* Player */

.clue {
    font-family: 'Mr Dafoe', cursive;
}
/* Topo */

header figure {
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

header img {
    margin-top: 50px;
    vertical-align: bottom;
}

/* Enredo */

main {
    margin: 0 auto;
    padding-top: 10px;
    width: 600px;
}

main h1 {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin: 25px 0 30px;
}

main article {
    border-top: 4px solid #797979;
    border-bottom: 4px solid #797979;
    padding: 25px 0;
}

main article p {
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.7rem;
    text-align: left;
}

/* Jogo */

main h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

main h3 {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-top: 30px;
}

.playGame {
    width: 600px;
    height: 335px;
    background-color: #777777;
    border-radius: 5px;
}

.inputArea {
    border: 0;
    padding: 2px 25px;
}

form p {
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: left;
}

/* Palavra e Deslocamento */

form input[type=text] {
    width: 450px;
    height: 50px;
    padding-left: 15px;
    font-size: 1.2rem;
    color: #383838;
    letter-spacing: 0.04rem;
    border-radius: 5px;
    border: 0;
}

form input[type=text]:focus {
    outline: none;
}

form input[type=number] {
    width: 55px;
    height: 50px;
    margin-left: 14px;
    font-size: 1.2rem;
    text-align: center;
    color: #383838;
    text-transform: uppercase;
    border-radius: 5px;
    border: 0;
}

form input[type=number]:focus {
    outline: none;
}

/* Botões */

.buttonArea {
    border: 0;
    margin: 0;
    padding: 10px 20px;
}

.button {
    width: 263px;
    height: 115px;
    background-color: #383838;
    display: inline-block;
    margin: 7px;
    border-radius: 5px;
}

.player {
    font-size: 1.4rem;
    font-weight: bold;
    letter-spacing: 0.04rem;
    text-align: center;
    margin: 15px 0 10px;
}

form button {
    width: 140px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.07rem;
    color: white;
    text-align: center;
    margin: 0 60px;
    background-color: black;
    border-radius: 5px;
    border: 0;
}

form button:hover {
    width: 140px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.07rem;
    color: black;
    text-align: center;
    margin: 0 60px;
    background-color: #777777;
    border-radius: 5px;
    border: 0;
}

form button:active {
    width: 140px;
    height: 50px;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.07rem;
    color: white;
    text-align: center;
    margin: 0 60px;
    background-color: black;
    border-radius: 5px;
    border: 0;
}

form button:focus {
    outline: none;
}

/* Resultado */

#displayOutcome {
    width: 540px;
    margin: 30px;
    padding: 25px 0;
    background-color: white;
    font-size: 1.6rem;
    color: black;
    text-align: center;
    border-radius: 5px;
    border: 0;
}

/* Footer */

footer figure {
    margin: 0 auto 100px;
    text-align: center;
}