body {
    margin: 0;
    background-color: black;
}

/* Fontes */
html {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    color: white;
}

/* Topo */

header figure {
    margin: 0 auto;
    text-align: center;
    background-color: white;
}

header img {
    margin-top: 20px;
    vertical-align: bottom;
}

/* Enredo */

main {
    margin: 0 auto;
    padding-top: 10px;
    width: 600px;
}

main h1 {
    font-size: 3.5rem;
    font-weight: bold;
    text-align: center;
    margin: 25px 0 30px;
}

main article {
    border-top: 4px solid #797979;
    border-bottom: 4px solid #797979;
    padding: 25px 0;
}

main article p {
    font-size: 1.2rem;
    font-weight: lighter;
    line-height: 1.7rem;
    text-align: left;
}

/* Jogo */

main h2 {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
}

main h3 {
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding-top: 30px;
}

.playGame {
    width: 600px;
    height: 300px;
    background-color: #797979;
}

.inputArea {
    border: 0;
    padding: 5px 25px;
}

form p {
    font-size: 1.2rem;
    font-weight: lighter;
    text-align: left;
}

/* Palavra e Deslocamento */

form input[type=text] {
    width: 452px;
    height: 45px;
    padding-left: 10px;
    font-size: 1.2rem;
    color: #777777;
    text-transform: uppercase;
    letter-spacing: 0.7px;
}

form input[type=text]:focus {
    outline: none;
}

form input[type=number] {
    width: 36px;
    height: 45px;
    margin-left: 10px;
    padding-left: 23px;
    font-size: 1.2rem;
    color: #777777;
    text-transform: uppercase;
}

form input[type=number]:focus {
    outline: none;
}

/* Botões */

.buttonArea {
    border: 0;
    margin: 0;
    padding: 5px 25px;
}

.pickPlayer {
    width: 600px;
    display: inline;
    margin: 0;
}

.button {
    width: 265px;
    margin: 0;
}